.register-container {
    background-image: url('https://static.wixstatic.com/media/db9424_be9fe29d787d4889a1531d0012e120c6~mv2.webp/v1/fill/w_654,h_461,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/db9424_be9fe29d787d4889a1531d0012e120c6~mv2.webp');
    background-size: cover; //để hình nền bao phủ mặt đằng sau 
    background-position: center; // canh chỉnh hình nền ở giữa
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register-form {
    background: rgba(255, 255, 255, 0.85); 
    padding: 40px;
    border-radius: 10px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; 
  }
  

  