.select{
    display: flex;
    width: 83%;
    justify-content: space-between;
    margin-left: 125px;
    .Select{
        margin-bottom: 20px;
        border: 1px solid black;
        border-radius: 7px;
        width: 350px;
      }
    .Select2{
        margin-bottom: 20px;
        border: 1px solid black;
        border-radius: 7px;
        width: 150px;
      }
        
}
  
